@import url("https://fonts.cdnfonts.com/css/century-gothic");

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  margin: 0;
  font-family: "Century Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.sprite {
  background-image: url("common/images/sprite.png");
  background-repeat: no-repeat;
  display: block;
}
