@font-face {
  font-family: "Century Gothic";
  src: url("services/fonts/GOTHIC.ttf");
  src: url("services/fonts/GOTHIC.ttf") format("truetype"),
    url("services/fonts/GOTHIC.woff") format("woff"),
    url("services/fonts/GOTHICB.ttf") format("truetype"),
    url("services/fonts/GOTHICB.woff") format("woff");
}

@font-face {
  font-family: "Azo Sans";
  src: url("services/fonts/AzoSansBold.ttf");
  src: url("services/fonts/AzoSansBold.ttf") format("truetype"),
    url("services/fonts/AzoSansBold.woff") format("woff");
}

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

body {
  font-family: "Century Gothic", sans-serif;
  max-width: 1600px;
  padding: 0 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media screen and (min-width: 768px) {
  body {
    padding: 0 32px;
  }
}

@media screen and (min-width: 1024px) {
  body {
    padding: 0 64px;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
